#nav_menu {
    padding: 0 10px;
    position: fixed;
    list-style-type: none;
    z-index: 70;
    background-color: #1e283f;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    width: 730px;
}

#menu li {
    float: left;
    margin: 0 10px 0 0;
    font-size: 14px;
}

#nav_menu a {
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    background: none;
    font-size: 16px;
    line-height: 30px;
}

#nav_menu .active a {
    color: #D90000;
    background: none;
    border-bottom: 4px solid #D90000;
    border-radius: 0;
    font-size: 16px;
    line-height: 30px;
}

#nav_menu img {
    width: 100px;
    margin-top: 15px;
}

#myCarousel {
    width: 100%;
}

.home {
    background: url(../image/public/home.png) no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

.product {
    background: url(../image/public/product.png) no-repeat;
    background-size: 100%;
}

.product_instance {
    background: url(../image/public/product_instance.png) no-repeat;
    background-size: 100%;
}

.business {
    background: url(../image/public/business.png) no-repeat;
    background-size: 100%;
}

.about_us {
    background-color: #ffffff;
}

.contact_us {
    background-color: #ffffff;
}

.home .up {
    height: 35%;
}

.home .up .left {
    float: left;
}

.home .up .left img {
    height: 17rem;
    position: absolute;
    left: 25%;
}

.home .up .right {
    margin-left: 2rem;
    position: absolute;
    left: 39%;
}

.home .up .right .title {
    color: #D90000;
    font-size: 5.4rem;
    font-weight: 900;
    border-bottom: 3px solid #d90000;
}

.home .up .right .content {
    color: #ffffff;
    font-size: 2.5rem;
    width: 38rem;
}

.home .up .right .button-group .button {
    width: 7.5rem;
    border-radius: 1.5rem;
    background-color: #D90000;
    border: none;
    height: 3rem;
    margin-right: 2rem;
    color: #ffffff;
}

.home .down {

}

.home .down .left {
    float: left;
}

.home .down .left img {
    height: 22rem;
    z-index: 5;
    position: absolute;
    left: 9rem;
    bottom: 1rem;
}

.home .down .center .button {
    width: 14.5rem;
    border-radius: 1.5rem;
    background-color: #D90000;
    border: none;
    height: 4rem;
    color: #ffffff;
    position: absolute;
    bottom: 20%;
    right: 45%;
    font-size: 2rem;
}

.home .down .bottom {
    background: url(../image/home/bottom.png) no-repeat;
    background-size: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 18%;
    z-index: 3;
}

.home .down .right {
    float: right;
}

.home .down .right .ball9 {
    z-index: 2;
    height: 9rem;
    position: absolute;
    right: 17rem;
    bottom: 1.5rem;
}

.home .down .right .ball17 {
    position: absolute;
    right: 8rem;
    bottom: 2.5rem;
    height: 11rem;
}

.product .title {
    color: #ffffff;
    font-size: 3rem;
    position: absolute;
}

.product .title-ssc {
    top: 16%;
    left: 31%;
}

.product .title-pk10 {
    top: 21%;
    left: 62.5%;
}

.product .title-pcdd {
    top: 42.5%;
    left: 61.5%;
}

.product .title-11x5 {
    top: 46.5%;
    left: 43.5%;
}

.product .title-k3 {
    top: 70%;
    left: 44.5%;
}

.product .title-dpc {
    top: 90.5%;
    left: 43.5%;
}

.product .ball {
    position: absolute;
    top: 13%;
    width: 12rem;
    left: 18%;
}

.product .panel {
    position: absolute;
    top: 34%;
    width: 13rem;
    left: 68%;
    background: transparent;
}

.product .content {
    color: #ffffff;
    font-size: 2rem;
    position: absolute;
}

.product .content-ssc1 {
    top: 22%;
    left: 35%;
    width: 21rem;
}
.product .content-ssc2 {
    top: 26%;
    left: 35%;
    width: 21rem;
}
.product .content-ssc3 {
    top: 30%;
    left: 35%;
    width: 21rem;
}

.product .content-pk10 {
    top: 34%;
    left: 59.5%;
    width: 9rem;
}

.product .content-pcdd {
    top: 54.5%;
    left: 65.5%;
    width: 7rem;
}

.product .content-11x51 {
    top: 59.5%;
    left: 31.5%;
    width: 17rem;
}
.product .content-11x52 {
    top: 63.5%;
    left: 31.5%;
    width: 17rem;
}
.product .content-11x53 {
    top: 67.5%;
    left: 31.5%;
    width: 17rem;
}

.product .content-k31 {
    top: 77.5%;
    left: 48.5%;
    width: 16rem;
}
.product .content-k32 {
    top: 81.5%;
    left: 48.5%;
    width: 16rem;
}
.product .content-k33 {
    top: 85.5%;
    left: 48.5%;
    width: 16rem;
}

.product .content-dpc {
    top: 82.5%;
    left: 31.5%;
    width: 17rem;
}

.product_instance .app-img-group{
    height: 100%;
}

.product_instance .app-img-left {
    position: absolute;
}

.product_instance .app-img-right {
    position: absolute;
}

.product_instance .app1 {
    top: 30%;
    left: 39%;
    width: 37rem;
}

.product_instance .app2 {
    width: 20rem;
    left: 35%;
    top: 16%;
}

.product_instance .app3 {
    width: 20rem;
    top: 10%;
    left: 49%;
}

.product_instance .app4 {
    width: 20rem;
    top: 53%;
    left: 42%;
}

.product_instance .app5 {
    top: 51.5%;
    left: 56.3%;
    width: 20rem;
}

.product_instance .app6 {
    width: 40rem;
    top: 40%;
    left: 21%;
}

.product_instance img.ball9 {
    width: 8rem;
    top: 77%;
    left: 80%;
    position: absolute;
}

.product_instance img.ball17 {
    width: 10rem;
    top: 71%;
    left: 84%;
    position: absolute;
}

.business .icon {
    position: absolute;
    width: 3rem;
}

.business .icon-1 {
    top: 36%;
    left: 23%;
}

.business .icon-2 {
    left: 40.5%;
    top: 42%;
}

.business .icon-3 {
    top: 23%;
    left: 46.5%;
}

.business .icon-4 {
    left: 66.6%;
    top: 26%;
}

.business .girl {
    left: 28.1%;
    position: absolute;
    width: 20rem;
    top: 52.3%;
}

.business .title {
    padding-bottom: 5px;
    font-size: 20px;
    position: absolute;
}

.business .title span {
    color: #d90000;
    margin-left: 0.8rem;
}

.business .title-1 {
    top: 43%;
    left: 28%;
}

.business .title-2 {
    top: 49%;
    left: 45.5%;
}

.business .title-3 {
    top: 29.5%;
    left: 51.5%;
}

.business .title-4 {
    left: 66%;
    top: 45%;
}

.about_us .people img{
    width: 55%;
}

.about_us .front{
    width: 45rem;
    height: 26rem;
    padding: 3rem 2rem;
    position: absolute;
    background-color: #20283e;
    top: 36%;
    left: 35.5%;
    font-size: 16px;
    color: #ffffff;
}

.about_us .front p{
    position:relative;
    top:20%;
}

.about_us .rear{
    width: 44rem;
    height: 26rem;
    position: absolute;
    background-color: #d5d9e7;
    top: 32%;
    left: 38.6%;
}

.about_us .title{
    position: absolute;
    top: 22%;
    width: 17rem;
    left: 61%;
}

.contact_us .people img{
    width: 55%;
    float: right;
}

.contact_us .front{
    width: 45rem;
    height: 26rem;
    padding: 3rem 2rem;
    position: absolute;
    background-color: #20283e;
    top: 36%;
    left: 27%;
    font-size: 16px;
    color: #ffffff;
}

.contact_us .rear{
    width: 44rem;
    height: 26rem;
    position: absolute;
    background-color: #d5d9e7;
    top: 32%;
    left: 24.6%;
}

.contact_us .title{
    position: absolute;
    top: 16%;
    width: 17rem;
    left: 27%;
}

.contact_us .img{
    width: 3rem;
    position: absolute;
}

.contact_us .img-weixin{
    top: 20%;
    left: 16%;
}

.contact_us .img-qq{
    top: 20%;
    left: 54%;
}

.contact_us .img-email{
    top: 46%;
    left: 54%;
}

.contact_us .img-domain{
    top: 46%;
    left: 16%;
}

.contact_us .img-show{
    top: 72%;
    left: 54%;
}

.contact_us .img-skype {
    top: 72%;
    left: 16%;
}

.contact_us .weixin-div{
    position: absolute;
    top: 16%;
    left: 26%;
}

.contact_us .qq-div{
    position: absolute;
    top: 16%;
    left: 64%;
}

.contact_us .skype-div{
    position: absolute;
    top: 68%;
    left: 26%;
}

.contact_us .email-div{
    position: absolute;
    top: 43%;
    left: 64%;
}

.contact_us .domain-div{
    position: absolute;
    top: 43%;
    left: 26%;
}

.contact_us .show-div{
    position: absolute;
    top: 68%;
    left: 64%;
}

.contact_us .first {
    padding-bottom: 5px;
    border-bottom:  2px solid #ffffff;
    width: 7rem;
}






